* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  color: white;

/* @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap'); */
}
header{
  
  width: 100%;
  height: 100%;
}
body{
  background: rgba(18, 27, 37, 1);
}

nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-top: 15px;
   padding-left: 10%;
   padding-right: 10%;
   background: rgba(18, 27, 37, 1);
   padding-bottom: 20px;
   font-weight: bold;

}

nav ul li {
   display: inline-block;
   list-style-type: none;
   padding-top: 5px;

}

li a {
   text-decoration: none;
   padding-left: 40px;
   font-size: 15px;
   color:rgba(214, 214, 214, 1);
}  
nav li a:hover{
  color: white;
}
nav ul li a ,.active{
  display: inline-block;
  position: relative;
}

nav ul li a::after,.nav li .active ::after {
  content: '';
  position: absolute;
  width: 60%;
  transform: scaleX(0);
  height: 3px;
  bottom: -4px;
  left: 40%;
  background-color: rgba(26, 160, 144, 1);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
} 

nav ul li a:hover::after,.active ::after{
  transform: scaleX(1);
  transform-origin: bottom left;
  color: white;
}
button{
  background: rgba(26, 160, 144, 1);
  color: white;
  border: none;
  padding: 10px 20px;
  margin-left: 15px;
}
.btn1{
  background: rgba(18, 27, 37, 1);
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 5px;
  padding-left: 10%;
  padding-right: 10%;
  

}
.home{
  width: 600px;
  height: 425px;
}
.search{
  width: 600px; 
  height: 100px;
  margin-left: -18px;
  margin-right: -80px;
  position: absolute;
}
.div1{
  color: white;
  padding: 20px;
}
h1{
  font-size: 40px;
  font-weight: bold;
  width:100%;
  padding-bottom: 20px;
}
p{

  color: rgba(214, 214, 214, 1);
  padding-bottom: 20px;
}
.diamond{
  margin-left: 92%;
  margin-top: 20%;
  position: absolute;
  width: 100px;
}
.section{
  margin-top: 10px;
}
.feature-section{
  display: flex;
  justify-content: space-between;
  padding: 5px 10% 5px 10%;
  height: 50px
}
.feature{
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin-left: 10%;
  padding-bottom: 30px;
}
.card-section{
  margin-top: 40px;
  padding: 3% 10% 3% 10%;
  background-image: url('Mask\ group.png');
  background-size: cover;
  background-color: rgba(26, 36, 47, 1);
}
.card-container{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  ;
}
.cardimg{
  width: 300px;
  height: 200px;
  padding-bottom: 20px;
}
.card{
  padding-bottom: 15px;
}
h5{
  color: rgba(214, 214, 214, 1);
}
.btn2{
  margin-top: 50px;
  margin-left: 43%;
}
.section3 h1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
}
.service-card{
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 50px 10% 10px 10%;
}
h3{
  padding-bottom: 15px;
}
.service{
  padding: 15px;
  background: rgba(26, 160, 144, 0.2);
  border-radius: 50px;
  margin-bottom: 20px;
} 
.arrow{
  display: flex;
  align-items: left;
  width: 130px;
  margin-top: -40%;
  position: absolute;
}
.testimonials{
  text-align: center;
  padding-top: 30px;
}
.test{
  margin-right: 36%;
  margin-top: 40px;
  width: 70px;
  height: 50px;
}
.testimonials h4{
  padding-top: 20px;
  padding-left: 30%;
  padding-right: 30%;
  padding-bottom: 10px;
}
.testimonials h6{
  padding-right:35%;
}
.box{
  position: absolute;
  margin-left: 45.5%;
  height: 145px;
}
.section4{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding: 15% 10% 10% 15%;  
}
.btn3{
  margin-left:-0.5%;
  margin-top: 5px;
}
.footer{
  background: rgba(26, 36, 47, 1);
  display: flex;
  justify-content: space-between;
  padding: 50px 15% 40px 10%;
}
ul li {
  list-style-type: none;
  padding-top: 5px;
  font-size: 13px;
  color: rgba(214, 214, 214, 1);
}
.foot{
  width: 25%;
  padding-bottom: 30px;

}

.footer img{
  width: 70px;
}

.footer h3{
  width: 10px;
  padding-right: 10%;
  color: rgba(214, 214, 214, 1);
}
.curve{
  width: 150px;
  position: absolute;
  margin-top: 11%;
  left: 0;
}